    <!-- FontAwesome Script Link -->
    <script src="https://kit.fontawesome.com/68e357ed07.js" crossorigin="anonymous"></script>

    <!-- My JS -->
    <script src="/js/main.js"></script>

    <p class="last-line">Made with <i class="fas fa-heart" id="heart"></i> by <a id="my"
            href="https://www.jainsavar.com" target="_blank" rel="noopener noreferrer">Savar Jain</a></p>

    </footer>

    </html>