<%- include("partials/header") -%>

<body class="hello">
    <div class="container">
        <div id="notfound">

            <h1 class="search-header"> Uh Oh :( </h1>

            <h1>This place does not exist yet :) </h1>


            <form action='/retry' method='GET'>
                <button class="btn btn-lg btn-dark btn-searchagain" type='submit'>SEARCH AGAIN</button>
            </form>
        </div>
    </div>


    <%- include("partials/footer") -%>