<%- include("partials/header") -%>

<body class="hello">

    <div id="notfound">

        <h1> Uh Oh :( </h1>

        <h1>This place does not exist yet :) </h1>


        <form action='/retry' method='GET'>
            <button type='submit'>SEARCH AGAIN</button>
        </form>
    </div>

    <%- include("partials/footer") -%>