body {
  background-color: hsl(180, 100%, 25%);
  color: hsl(0, 0%, 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-form {
  padding: 2% 5% 0%;
}

.search-label {
  line-height: 3;
  font-weight: bold;
  font-size: 2rem;
}

.search-input {
  font-size: 1.9rem;
  max-width: 50%;
  text-transform: uppercase;
}

.search-input.radio {
  width: 40px;
  height: 40px;
}

.btn {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  background-color: hsl(240, 77%, 58%);
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid hsl(0, 0%, 0%);
  color: rgb(228, 233, 245);
}

.btn-go {
  margin-left: 275px;
}

.btn:hover {
  background-color: rgb(70, 33, 156);
}

.search-header {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 4.5rem;
  margin-bottom: 0;
}

footer {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 88%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#my {
  text-decoration: none;
  color: hsl(183, 50%, 70%);
}

#my:hover {
  font-weight: bold;
  color: hsl(183, 70%, 70%);
}

.search-form #cityInput {
  position: relative;
  left: 73px;
}

.search-form #stateInput {
  position: relative;
  left: 45px;
}

.search-form .radioInputs {
  display: inline-block;
  position: relative;
  left: 150px;
}

.none {
  display: none;
}

/* From weather */
.btn-searchagain {
  width: max-content;
  position: relative;
  padding: 10px;
}

.btn-weather {
  bottom: 150px;
  left: 50px;
}

#weather form {
  display: inline-block;
}
